* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
  font-family: 'Varela Round', sans-serif;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
  cursor: auto;
  @mixin atMedium{
    font-size: 16px;
  }
  @mixin atLarge{
    font-size: 18px;
  }
}
@media (min-width: 1200px){
  html{
    cursor: auto;
  }
}
body{
  overflow-x: hidden;
}
p {
  font-family: 'Varela Round', sans-serif;
  color: #303030;
}
h2, h3{
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  font-weight: 100;
}

h1 {
  font-size: 24px;
  margin: 0;
  font-family: 'Arvo', serif;
  color: #303030;
  @mixin atMedium{
    font-size: 36px;
  }
  @mixin atLarge{
    font-size: 48px;
  }
}
h2 {
  font-size: 20px;
  @mixin atMedium{
    font-size: 32px;
  }
  @mixin atLarge{
    font-size: 38px;
  }
}

h3 {  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
@mixin atMedium{
  font-size: 22px;
}
@mixin atLarge{
  font-size: 22px;
}
}
body{
  padding: 0em;
}
img {
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
}
h2 a {
  color: #fff !important;
}
a:visited{
  text-decoration: none;
  font-weight: 100;
  color: #fff;
}
a:hover, .header__navigation__list--item:hover {
  animation: wiggle;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-2.5deg);}
  100% {transform: rotate(0deg);}
}
.linear-border {
  background: linear-gradient(-45deg, #830000, #303030);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: Gradient 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  width: 100%;
  height: 2vh;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#cursor {
  cursor: auto;
  width: 25px;
  height: 25px;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: rotate(0deg);
  transition:  width 1s, height 1s, transform 1s;
  display: none;

}
@media (min-width: 1200px){
  #cursor{
    display: block;   
  }
}
.cursor--click {
  width: 30px !important;
  height: 30px !important;
  transform: rotateZ(360deg) !important;
  transition:  width 1s, height 1s, transform 1s;
}

