.contact{
    transform: translateX(-180vw) translateY(-150vh);
    background-color: #919191;
    transition: 1s all ease;
    padding: 1em;
    z-index: 1;
    color: #fff;
    text-align: center;
    height: 60vh !important;
    & p {
        color: #fff;
    }
}
