.header {
    display: flex;
    padding: 1em;
    &__navigation{
        &--desktop{

        }
        &__list {
            margin: 0 1em;
            padding: 0;
            list-style: none;
            display: flex;
            &--item {
                margin: 0 1em;
            }
        }
    }
}
.top-nav{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 10%;
    z-index: 1;
    @media (min-width: 1010px){
        width: 5%;
    }
    & img{
        width: 100%;
    }
}