
.section{
    width: 80vw;
    height: 80vh;

    position: absolute;
    top: 3em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: 1s all ease;
    overflow-y: scroll;
    z-index: 2;
    &--show{
        transform: translateX(0) translateY(0) !important;
     }
}
#close {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 1.5em;
}
